/*
# htmlタグへのスタイル

 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,form,input,textarea,button,table,tr,th,td,article,aside,footer,header,hgroup,nav,section{
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: $ff-gothic;
    height: 100%;
    width: 100%;
    margin: 0;
    height: 0;
    @include font-size(14px);
    font-weight: 300;
    line-height: 1.6;
    @include media-md-min{
        min-width: 980px;
    }
}

p{
    margin-top: 0;
}
img{
    max-width: 100%;
    height: auto;
}

@include clearfix;

a{
    @include linkColor($color-link);
    &.link--rev{
        text-decoration: underline;
        &:hover{ text-decoration: none; }
    }
}
a:hover img{
    opacity: .65;
}
address{
    font-style: normal;
}
figure{
    margin: 0;
}
dd{
    margin-left: 0;
}