/*
# Box

クラス名`box-`で始まるものは、中の要素の
最初の`margin-top`
最後の`margin-bottom`
が0になる

 */
[class^="box-"], [class*=" box-"]{
  box-sizing: border-box;
  *:first-child{
    margin-top: 0;
  }
  *:last-child{
    margin-bottom: 0;
  }
}
