/*
# float

 */
.fl{
    &-l{ float: left; }
    &-r{ float: right; }
}
.fl-box.fl{
    &-l{ margin-right: 20px; }
    &-r{ margin-left: 20px; }
}
@include media-md-min{
    .fl-md{
        &-l{ float: left; }
        &-r{ float: right; }
    }
    .fl-box.fl-md{
        &-l{ margin-right: 20px; }
        &-r{ margin-left: 20px; }
    }
}
@include media-sp-min{
    .fl-sp{
        &-l{ float: left; }
        &-r{ float: right; }
    }
    .fl-box.fl-sp{
        &-l{ margin-right: 20px; }
        &-r{ margin-left: 20px; }
    }
}