@charset "UTF-8";
.wrap{
  width: 90%;
  margin: 0 auto;
}
.sitemap{
  line-height: 1;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;

  ul{
    position: relative;
    padding: 0;
    margin-top: 1em;
    letter-spacing: -.4em;
    list-style: none;
  }
  li{
    position: relative;
    padding: 0 1em 1em;
    letter-spacing: normal;
    vertical-align: top;
  }
  a{
    position: relative;
    display: block;
    padding: 1em;
    line-height: 1em;
    border: 1px solid;
    background-color: #FFF;
    z-index: 9;
  }
  a:before{
    content: attr(href);
    display: inline-block;
    font-size: .8em;
  }

  // lines
  li:before,
  li:after{
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    background-color: #000;
    z-index: -1;
  }
  li:before{
    width: 100%;
    top: 2em;
    left: 0;
  }
  li:after{
    height: 100%;
    top: 0;
    left: 50%;
  }
} // .sitemap

.sitemap-main{
  > li{
    display: inline-block;
    padding-top: 1em;
  }
}

#home{
  display: block;
  padding-top: 0;
  text-align: center;
  a{
    display: inline-block;
  }
  &:before{
    top: 100%;
  }
}