@import "../variables";
@import "../mixin";
@import "../sprite";
.container{}
.wrap{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

@import "header";
@import "nav";
@import "breadcrumbs";
@import "contents";
@import "footer";