<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="ja_JP" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="ja_JP" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="ja_JP" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
<meta charset="UTF-8" />
<title><%= title %>TITLE</title>
<meta name="Description" content="" />
<meta name="Keywords"  content="" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>
</script>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="css/slickmap.css"> -->
<link rel="stylesheet" href="style.css">
</head>