<% var title = ""; %>
<% include _head %>
<% include _header %>
<% include _nav %>
  <div class="primary">
    <div class="wrap">
      <div class="table-responsive">
        <table class="table table-bordered">
          <caption>table title and/or explanatory text</caption>
          <thead>
            <tr class="active">
              <th>第１階層</th>
              <th>第2階層</th>
              <th>第3階層</th>
              <th>第4階層</th>
              <th>第5階層</th>
              <th>第6階層</th>
              <th>URL</th>
              <th>確認事項</th>
              <th>担当</th>
              <th>対応</th>
              <th>デザイン</th>
              <th>コーディング</th>
              <th>チェック</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>トップページ</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td>事業</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>営業部</td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>おすすめ商品</td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>おすすめ商品</td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>商品紹介</td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>商品詳細</td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td>記事一覧</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>記事</td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td>なんか</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td>さいと</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>さいと2</td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>さいと3</td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>さいと3</td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td>login</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
            <tr>
              <td>Site map</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>url</td>
              <td>説明</td>
              <td>御社</td>
              <td>hoge</td>
              <td>fuge</td>
              <td>hogehoge</td>
              <td>済</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="sitemap">

        <h1>Project Title</h1>
        <h2>Preliminary Site Map &mdash; Version 1.0</h2>

        <ul id="utilityNav" class="sitemap-sub">
        </ul>

        <ul id="primaryNav" class="sitemap-main">
        </ul>

      </div>
    </div>
  </div><!-- //primary -->
<% include _footer %>
<% include _script %>